


<table class="table-responsive">
    <tr>
        <td>
            <input type="hidden" name="ID" id="idget" />
        </td>
    </tr>
    <tr>
        <td>
            <span class="glyphicon glyphicon-trash" style="font-size:70px;"></span>
        </td>
        <td align="center">
            <label class="merahtext" style="font-size:17px;">
                &nbsp;&nbsp;&nbsp;&nbsp;Anda yakin ingin menghapus customer <br />
                <input type="text" readonly style="border:0px; width:300px; text-align:center; font-size:20px;" id="idLblNamaCustomer" />
            </label>
        </td>
    </tr>
    <tr>
        <td>
            <br />
        </td>
    </tr>
</table>
<div class="row">
    <table align="right">
        <tr>
            <td colspan="1">
                <div class="btn btn-group">
                    <button type="button" class="btn orenwoy" id="idBtnCancelCustomer">Tidak</button>
                    <button type="button" class="btn merahwoy" id="idBtnHapusCustomer">&nbsp;&nbsp;&nbsp;Ya&nbsp;&nbsp;&nbsp;</button>
                </div>
            </td>
        </tr>
    </table>
</div>

<script>
    $(document).ready(function () {
        $.ajax({
            url: '/Customer/AmbilData',
            data: { ID: $('#idget').val() },
            method: 'Get',
            success: function (mdl) {
                debugger;
                $('#idLblNamaCustomer').val(mdl.NamaCustomer + ' ?');
            }
        })
    });

    $('#idBtnCancelCustomer').click(function () {
        $('#idMdlHapusCustomer').close;
        location.reload();
    });

    $('#idBtnHapusCustomer').click(function () {
        var vDataID = $('#idget').val();
        debugger;
        //
        //
        $.ajax({
            url: '/Customer/Delete',
            data: { ID: vDataID },
            method: 'Post',
            success: function (mdl) {
                alert('Berhasil Menghapus Customer');
                location.reload();
                debugger;
            },
            error: function (mdl) {
                debugger;
            }
        });
        //
    })
</script>


