<style type="text/css">
    [data-validation-message] {
        display: none;
        color: red;
        font-weight: bold;
    }

        [data-validation-message].message-visible {
            display: block;
        }

    .blueborder {
        border-color: blue;
    }

        .blueborder.invalid {
            border-color: red;
        }
</style>
<style>
    .body {
        color: #000080;
    }
</style>
<form action="" method="post" id="idFrmEditBarang" class="body">
    <div>
        <label>Kode Barang *</label>
        <input type="text" name="KodeBarang" data-validate="required" class="form-control blueborder" id="idInpKodeBarang">
        <input type="hidden" name="ID" id="idget" />
        <small role="alert" aria-hidden="true" data-validation-message="required">Kode Barang Harus Diisi.</small>
    </div>
    <div>
        <label>Nama Barang *</label>
        <input type="text" name="NamaBarang" data-validate="required" class="form-control blueborder" id="idInpNamaBarang">
        <small role="alert" aria-hidden="true" data-validation-message="required">Nama Barang Harus Diisi.</small>
    </div>
    <div>
        <label>Satuan *</label>
        <input type="text" name="Satuan" data-validate="required" class="form-control blueborder" id="idInpSatuan">
        <small role="alert" aria-hidden="true" data-validation-message="required">Satuan Harus Diisi.</small>
    </div>
    <div>
        <label>Stok *</label>
        <input type="text" name="Stok" data-validate="required" class="form-control blueborder" id="idInpStok">
        <small role="alert" aria-hidden="true" data-validation-message="required">Satuan Harus Diisi.</small>
    </div>
    <div>
        <label>Harga *</label>
        <input type="text" name="Harga" data-validate="required" class="form-control blueborder" id="idInpHarga">
        <small role="alert" aria-hidden="true" data-validation-message="required">Satuan Harus Diisi.</small>
    </div>

    <div class="row">
        <table align="right">
            <tr>
                <td colspan="1">
                    <div class="btn btn-group">
                        <button type="button" class="btn orenwoy" id="idBtnCancelBarang">&nbsp;&nbsp;Batal&nbsp;&nbsp;</button>
                        <button type="submit" class="btn biruwoy" id="idBtnEditBarang">Simpan</button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</form>


<script>
    $(document).ready(function () {

        $.ajax({
            url: '/Barang/AmbilData',
            data: { ID: $('#idget').val() },
            method: 'Get',
            success: function (mdl) {
                debugger;
                $('#idInpKodeBarang').val(mdl.KodeBarang);
                $('#idInpNamaBarang').val(mdl.NamaBarang);
                $('#idInpSatuan').val(mdl.Satuan);
                $('#idInpStok').val(mdl.Stok);
                $('#idInpHarga').val(mdl.Harga);
            },
            error: function (mdl) {
                debugger;
            }
        });


        $('#idBtnCancelBarang').click(function () {
            $('#idMdlCreateBarang').close;
            location.reload();
        });

    });
    //var d = new Date();
    //$("idInpTahunMasuk").click(function () {
    //    var vEnterOption = $('#idInpTahunMasuk').val();
    //    var vExitOption = "";
    //    for (var i = d.getFullYear() ; i >= 1970; i--) {
    //        vExitOption = vExitOption +
    //            '<option>' + i + '</option>'
    //    }
    //    $('#idInpTahunKeluar').empty(vExitOption);
    //    $('#idInpTahunKeluar').append(vExitOption);
    //});

    //$('#idBtnEditBarang').click(function () {
    function editbarang() {
        debugger;
        var vDataBarang = $('#idFrmEditBarang').serialize();
        $.ajax({
            url: '/Barang/EditSimpan',
            data: vDataBarang,
            method: 'Post',
            success: function (mdl) {
                if (mdl.EditSimpan == "Berhasil") {
                    debugger;
                    alert("Data berhasil diedit");
                    //
                    //
                    location.reload();
                    $('#idMdlEditOrganisasi').close;

                }
                else {
                    debugger;
                    alert("Data gagal diedit");
                }
            },
            error: function (mdl) {
                debugger;
            }
        });
    }

</script>

<script>
// (1) Defining our validator-functions
//     for later use. They return
//     "true", if the validation passes.
const validators = {
  // Checks the field for emptiness.
    required: element => element.value.length > 0,
    //years: element=>element.value>=document.getElementById("idInpTahunMasuk").value,

  // Checks if there are no numbers
  // in the field.
  noNumbers: element => !element.value.match(/[0-9]/g),

  // Checks if the value is shorter
  // than 10 characters.
  maxLength: element => element.value.length <= 10,

  // Checks if the checkbox is checked.
  mustBeChecked: element => element.checked
};

// (2) Check the contents of an input,
//     get all validators, and mark
//     the field in case of invalidity.
function validateElement(element) {
  resetValidation(element);

  // Store all validators from the
  // data-validate-attribute into
  // an array.
  const rules = element.dataset.validate.split(" ");

  // For every validator on the
  // field...
  rules.forEach(rule => {
    // ...find the corresponding
    // validator-function from our
    // object from #1 and call it
    // with the element as parameter.
    if (validators[rule](element)) {
      // If the function returns true, all is fine.
        debugger;
        return;
    } else {
      // If it returns false, the
      // validation failed.
      // In that case, the
      // markElementInvalid-function
      // takes care of showing the
      // error-message.
      markElementInvalid(element, rule);
    }
  });
}

// (3) Adds classes to an element,
//     so it appears invalid. Also
//     it picks the correct feedback-
//     message and sets it visible.
function markElementInvalid(element, validatorName) {
  element.classList.add("invalid");
  element.setAttribute("aria-invalid", true);
  const feedbackMessage = element.parentNode.querySelector(
    `[data-validation-message=${validatorName}]`
  );
  feedbackMessage.classList.add("message-visible");
  feedbackMessage.setAttribute("aria-hidden", false);
}

// (4) Removes all traces of
//     validation from an element,
//     like the error-messages and
//     the styling.
//     (Pretty much the opposite of #3)
function resetValidation(element) {
  element.classList.remove("invalid");
  element.setAttribute("aria-invalid", false);
  element.parentNode
    .querySelectorAll("[data-validation-message]")
    .forEach(e => {
      e.classList.remove("message-visible");
      e.setAttribute("aria-hidden", true);
    });
}

// (5) Store the form and its
//     inputs in variables.
const form = document.getElementById("idFrmEditBarang");
const formElements = Array.from(form.elements);

// (6) Every input gets an
//     event-listener attached.
formElements.forEach(formElement => {
  // Do nothing if the element has
  // no data-validate-attribute.
  if (!formElement.dataset) return;
  if (!formElement.dataset.validate) return;

  // Attach the blur-event-listener
  // to the element.
  formElement.addEventListener("", () => {
    // This means, validateElement will
    // be called everytime the element
    // loses focus.
    validateElement(formElement);
  });
});

// (7) We're doing what we did at #3,
//     only on form-submit, and for
//     every field.
form.addEventListener("submit", event => {
  // Let's assume, everything is fine.
  let formIsValid = true;
  form.classList.remove("invalid");

  // We'll check every field in the form.
  // (same as #3)
  formElements.forEach(formElement => {
    if (!formElement.dataset) return;
    if (!formElement.dataset.validate) return;
    validateElement(formElement);
  });

  // If there are any "invalid"-classes
  // after we checked all fields, the form
  // is invalid...
  formIsValid = form.querySelectorAll(".invalid").length === 0;

  // ...and will not be submitted.
  if (formIsValid === false) {
    form.classList.add("invalid");
    event.preventDefault();
  } else {
      debugger;
      editbarang();
  }
});
</script>


